
<!-- Подвал -->
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-info">
                    <p id="author" class="footer-text">Kiet</p>
                    <p id="years" class="footer-text">2025 – 2026</p>		
                </div>
            </div>
        </div>
        <div class="row footer-icons">
            <div class="col-12 d-flex justify-content-center">
                <a href="" target="_blank"><svg class="icon" id="telegram" viewBox="0 0 496 512"></svg></a>
                <a href="#" target="_blank"><svg class="icon" id="vk" viewBox="0 0 496 512"></svg></a>
            </div>
        </div>
    </div>
</footer>