{% extends 'base.html' %}
{% load static %}

{% block title %}Запчасти{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/interesting.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class="container text-white pt-5 roboto-italic es-header-bg">
            <h1 class="es-header-title">
                магазин автозапчастей
            </h1>
            <h2 class="es-header-title">
                ул.Ленина, 102
            </h2>
            <div class="es-text-header text-center">
                работает доставка
            </div>
        </div>
    </header>

 
    {% endblock %}