<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <i style="color: rgb(255, 255, 255)"class="fa-solid fa-car fa-2xl"></i>
    <a class="navbar-brand" href="#" >Avtozapchasti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="main">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="auto parts" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Автозапчасти
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="engine">Двигатель</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="fasteners">Крепёж</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="bodywork">Кузов</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="heating and ventilation">Отопление и вентиляция</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="steering control">Рулевое управление</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="salon">Салон</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="cooling system">Система охлождения</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="fuel system">Топливная Система</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="brake system">Тормозная система</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="transmission">Трансмиссия</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="filters">Фильтры</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="undercarriage">Ходовая часть</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="electrics">Электрика</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="tires" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Шины
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="summer tires">Летние шины</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="winter tires">Зимние шины</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="discs" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Диски
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="alloy discs">Литые диски</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="stamped discs">Штампованные диски</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="forged discs">Кованые диски</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="batteries" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            АКБ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="passenger car batteries">Легковые аккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="cargo batteries">Грузовые аккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="bike batteries">Мотоаккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="cigarette lighter wires">Провода прикуривания</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="liquids" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Жидкости
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="engine oils">Моторные масла</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="brake fluid">Тормозная Жидкость</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="antifreeze">Антифриз</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="transmission oil">Трансмиссионноя масло</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="distilled water">Дистиллированная вода</a></li>
            </ul>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="favourites">Избранное</a>
        </li>
        </li>

        {% if first_name %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            {{ first_name }}
        </a>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" href={% url 'logout' %}>Выйти</a></li>
        </ul>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href={% url 'auf' %}>Вход / Регистрация</a>
        </li>
        {% endif %}
        </li>

      </ul>
      
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>