<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"> 
    <i style="color: rgb(255, 255, 255)"class="fa-solid fa-car fa-2xl"></i>
    <a class="navbar-brand" href="/" >Avtozapchasti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="main">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="auto parts" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Автозапчасти
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href={% url 'catalog' 'engine'%}>Двигатель</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'fasteners'%}>Крепёж</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'bodywork'%}>Кузов</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'heating and ventilation'%}>Отопление и вентиляция</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'steering control'%}>Рулевое управление</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'salon'%}>Салон</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'cooling system' %}>Система охлождения</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'fuel system' %}>Топливная Система</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'brake system' %}>Тормозная система</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'transmission' %}>Трансмиссия</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'filters' %}>Фильтры</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'undercarriag' %}>Ходовая часть</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'electrics' %}>Электрика</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="tires" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Шины
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'catalog' 'summer tires' %}>Летние шины</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'winter tires' %}>Зимние шины</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="discs" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Диски
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'catalog' 'alloy discs' %}>Литые диски</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'tamped discs' %}>Штампованные диски</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'forged discs' %}>Кованые диски</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="batteries" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            АКБ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={% url 'catalog' 'passenger car batteries' %}>Легковые аккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'cargo batteries' %}>Грузовые аккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'bike batteries' %}>Мотоаккумуляторы</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'catalog' 'cigarette lighter wires' %}>Провода прикуривания</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="liquids" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Жидкости
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href={% url 'catalog' 'engine oils' %}>Моторные масла</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url 'catalog' 'brake fluid' %}>Тормозная Жидкость</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url 'catalog' 'antifreeze' %}>Антифриз</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url 'catalog' 'transmission oil' %}>Трансмиссионноя масло</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href={% url 'catalog' 'distilled water' %}>Дистиллированная вода</a></li>
            </ul>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="favourites">Избранное</a>
        </li>
        </li>

        {% if first_name %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            {{ first_name }}
        </a>
        <ul class="dropdown-menu">
        <li>
        <a class="dropdown-item" id="account-link" href="{% url 'account' %}">Профиль</a>
        <a class="dropdown-item" id="logout-link" href={% url 'logout' %}>Выйти</a></li>
        </ul>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href={% url 'auf' %}>Вход / Регистрация</a>
        </li>
        {% endif %}
        </li>

      </ul>
      
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>