.feedback {
  background-image: linear-gradient(45deg, blue, yellow, red);
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

#email {
  padding: 2%;
}

#submit-button {
	margin-top: 3%;
  padding: 2%;
  cursor: pointer;
}