header {
    background: linear-gradient(45deg, purple 30%, red);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nk-header-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nk-text-header {
    font-size: 1.5rem;
    font-weight: 600;
}


.roboto-italic {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.overlay {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.50);
}

/* Мобильная версия */
@media screen and (max-width: 600px) {
    header {
        height: 60rem;
    }
}


.nk-interesting {
    background-color: antiquewhite;
}

.nk-interesting-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nk-svg-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
}