@media screen and (max-width: 1023px)  {
    .es-title {
        font-size: 6rem;
        margin-bottom: 5rem;
    }

    .es-label {
        font-size: 2.6rem;
    }

    .es-input-group {
        margin-bottom: 3.4rem;
    }

    .es-select {
        font-size: 2.6rem;
        width: 100%;
    }

    .es-button {
        font-size: 3rem;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .es-title {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .es-input-group {
        margin-bottom: 1.4rem;
    }

    .es-select {
        width: 75%;
    }

    .es-button {
        font-size: 1rem;
        width: 20%;
    }
}