#item-photo {
    width: 400px;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#item {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#item-title {
    font-size: 3rem;
}

#item-price {
    font-size: 2rem;
}

#item-description {
    color: #333333;
    font-style: italic;
}

/* .item-container {
    border: solid;
    border-color: black;
    border-radius: 3px;
} */

/* .item-container:hover {
    background-color: white;
    cursor: pointer;
} */

.my-card {
    margin: 1rem;
    height: 325px;
    background-color: black;
    color: white;
}

.my-card:hover {
    cursor: pointer;
}

.my-card-img {
    height: 200px;
} 
